@{
    ViewData["Title"] = "Home Page";
}
@* <p>
        UserId: @ViewData["UserID"]
    </p> *@
@await Component.InvokeAsync("HeroSection")
@await Component.InvokeAsync("GenderSection")
@await Component.InvokeAsync("BestSeller")


