@model IEnumerable<SneakersShop.Models.Size>
@using SneakersShop.Models.ViewModels
<div class="col-sm-12">
	<div class="side border mb-1">
		<h3>Size</h3>
		<div class="block-26 mb-2">
			@foreach(var item in Model)
			{
				<ul>
					<li><a href="/Products/ProductsBySize/?sizeId=@item.SizeId">@item.SizeName</a></li>
				</ul>
			}
		</div>
	</div>
</div>
