@model IEnumerable<SneakersShop.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
	<div class="row row-pb-md">
		@foreach (var item in Model)
		{
			<div class="col-lg-4 mb-4 text-center">
				<div class="product-entry border">
					<a href="/Categories/Details/@item.CategoryId" class="prod-img">
						<img src="@item.CategoryPhoto" class="img-fluid" alt="">
					</a>
					<div class="desc">
						<h2><a href="/Categories/Details/@item.CategoryId">@item.CategoryName</a></h2>
						<span class="price"> Category Order Number: @item.CategoryOrder</span>
					</div>
				</div>
			</div>
		}
		<div class="w-100"></div>
	</div>
</div>