@model IEnumerable<SneakersShop.Models.Brand>

<div class="colorlib-partner">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
				<h2>Trusted Our Brand</h2>
			</div>
		</div>
		<div class="row">
			<div class="col partner-col text-center">
				<img src="/template/images/brand-1.jpg" class="img-fluid" alt="">
			</div>
			<div class="col partner-col text-center">
				<img src="/template/images/brand-2.jpg" class="img-fluid" alt="">
			</div>
			<div class="col partner-col text-center">
				<img src="/template/images/brand-3.jpg" class="img-fluid" alt="">
			</div>
			<div class="col partner-col text-center">
				<img src="/template/images/brand-4.jpg" class="img-fluid" alt="">
			</div>
			<div class="col partner-col text-center">
				<img src="/template/images/brand-5.jpg" class="img-fluid" alt="">
			</div>
		</div>
	</div>
</div>
